<h1>New Appointment</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_panel_appointment_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_panel_appointment_path(@conn, :index) %></span>
